<div class="contact-header">
    <div class="overlay rem">
        <div class="contact-header-content">
            <h5>Get in Touch</h5>
            <h1>Contact Us</h1>
        </div>
    </div>
</div>