
        <header>
            <div class="overlay">
            <div class="header-content">
                <span>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>                
                </span>
                <h4>Luxury Hotel & Best Resort</h4>
                <h1>Enjoy a Luxury Experience</h1>
                <a href="/rooms">Rooms</a>
            </div>
        </div>
        </header>
        <form action="/" method="post">
            <div class="form-item">
                <input type="text" class="date" placeholder="Check in" onfocus="(this.type='date')">
                <input type="text" class="date" placeholder="Check out" onfocus="(this.type='date')">
                <div class="value">
                    <select class="select">
                        <option value="1">1 Adult</option>
                        <option value="2">2 Adults</option>
                        <option value="3">3 Adults</option>
                        <option value="4">4 Adults</option>
                    </select>
                </div>
                <div class="value">
                    <select>
                        <div class="options">
                            <option value="1" class="select">1 Child</option>
                            <option value="2" class="select">2 Children</option>
                            <option value="3" class="select">3 Children</option>
                            <option value="4" class="select">4 Children</option>
                        </div>
                    </select>
                </div>
                <div class="value">
                    <select class="select">
                        <option value="1">1 Room</option>
                        <option value="2">2 Rooms</option>
                        <option value="3">3 Rooms</option>
                        <option value="4">4 Rooms</option>
                    </select>
                </div>
                <button type="submit" class="submit">Check Now</button>
            </div>
        </form>