<div class="rooms-header">
    <div class="overlay rem">
        <div class="rooms-header-content">
            <h5>Luxury Hotel</h5>
            <h1>Rooms</h1>
        </div>
    </div>
</div>
<div class="rooms">
    <div class="room">
        <div class="det-section">
            <div class="inner">
                <h3>150$ <span>/ Night</span></h3>
                <h4>Junior Suite</h4>
                <p>Spacious, bright guestrooms with tasteful furnishing, wooden floor and panoramic windows from the ceiling to the floor.</p>
                <div class="facilities">
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-people-line"></i> 1-2 Persons</li>
                            <li><i class="fa-solid fa-wifi"></i> Free Wifi</li>
                        </ul>
                    </div>
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-bed"></i> Twin Bed</li>
                            <li><i class="fa-solid fa-bowl-food"></i> Breakfast</li>
                        </ul>
                    </div>
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-arrow-rotate-right"></i> 200 sqft room</li>
                            <li><i class="fa-solid fa-person-swimming"></i> Swimming Pool</li>
                        </ul>
                    </div>
                </div>
                <div class="button">
                    <button>Book Now</button>
                </div>
            </div>
        </div>
        <div class="img-section">
            <div class="inner">
                <img src="img/3.jpg" alt="img">
            </div>
        </div>
    </div><hr class="rooms-break">
    <div class="room left">
        <div class="det-section">
            <div class="inner">
                <h3>200$ <span>/ Night</span></h3>
                <h4>Family Room</h4>
                <p>Spacious, bright guestrooms with tasteful furnishing, wooden floor and panoramic windows from the ceiling to the floor.</p>
                <div class="facilities">
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-people-line"></i> 1-2 Persons</li>
                            <li><i class="fa-solid fa-wifi"></i> Free Wifi</li>
                        </ul>
                    </div>
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-bed"></i> Twin Bed</li>
                            <li><i class="fa-solid fa-bowl-food"></i> Breakfast</li>
                        </ul>
                    </div>
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-arrow-rotate-right"></i> 200 sqft room</li>
                            <li><i class="fa-solid fa-person-swimming"></i> Swimming Pool</li>
                        </ul>
                    </div>
                </div>
                <div class="button">
                    <button>Book Now</button>
                </div>
            </div>
        </div>
        <div class="img-section">
            <div class="inner">
                <img src="img/3.jpg" alt="img">
            </div>
        </div>
    </div><hr class="rooms-break">
    <div class="room">
        <div class="det-section">
            <div class="inner">
                <h3>250$ <span>/ Night</span></h3>
                <h4>Double Room</h4>
                <p>Spacious, bright guestrooms with tasteful furnishing, wooden floor and panoramic windows from the ceiling to the floor.</p>
                <div class="facilities">
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-people-line"></i> 1-2 Persons</li>
                            <li><i class="fa-solid fa-wifi"></i> Free Wifi</li>
                        </ul>
                    </div>
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-bed"></i> Twin Bed</li>
                            <li><i class="fa-solid fa-bowl-food"></i> Breakfast</li>
                        </ul>
                    </div>
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-arrow-rotate-right"></i> 200 sqft room</li>
                            <li><i class="fa-solid fa-person-swimming"></i> Swimming Pool</li>
                        </ul>
                    </div>
                </div>
                <div class="button">
                    <button>Book Now</button>
                </div>
            </div>
        </div>
        <div class="img-section">
            <div class="inner">
                <img src="img/5.jpg" alt="img">
            </div>
        </div>
    </div><hr class="rooms-break">
    <div class="room left">
        <div class="det-section">
            <div class="inner">
                <h3>150$ <span>/ Night</span></h3>
                <h4>Deluxe Room</h4>
                <p>Spacious, bright guestrooms with tasteful furnishing, wooden floor and panoramic windows from the ceiling to the floor.</p>
                <div class="facilities">
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-people-line"></i> 1-2 Persons</li>
                            <li><i class="fa-solid fa-wifi"></i> Free Wifi</li>
                        </ul>
                    </div>
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-bed"></i> Twin Bed</li>
                            <li><i class="fa-solid fa-bowl-food"></i> Breakfast</li>
                        </ul>
                    </div>
                    <div class="facility">
                        <ul>
                            <li><i class="fa-solid fa-arrow-rotate-right"></i> 200 sqft room</li>
                            <li><i class="fa-solid fa-person-swimming"></i> Swimming Pool</li>
                        </ul>
                    </div>
                </div>
                <div class="button">
                    <button>Book Now</button>
                </div>
            </div>
        </div>
        <div class="img-section">
            <div class="inner">
                <img src="img/2.jpg" alt="img">
            </div>
        </div>
    </div>
</div>